body
{
    background-color: #ddeeff;
    font-family: verdana;
}

/* layout */
.container
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidemenu
{
  position: relative;
  width: 25%;
  float: left;
}

.content
{
    width: 75%;
    margin-left: 25%;
}

/* menu*/

.menu li
{
  list-style: none;
  margin: 6px;
  line-height:  40px;
  background-color: #059305;
  text-align: center;
  font-weight: bold;
}

.menu li a
{
   text-decoration: none;
   color: #FFFFFF;
   display: block;
   box-shadow:  3px 3px #343537;
}

.menu li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
  box-shadow: 5px 5px #343537;
}
/* content */
.judulutama
{
  padding: 15px;
  background-color: #33B5E5;
  box-shadow: 5px 5px #
  font-family: 'Lobster';
}

.bloklagu
{
width: 600px;
box-shadow: 5px 5px #5b6783;
background-color: #dcd8eb;
border-radius: 7px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
display: none;
overflow: hidden;
font-weight: bold;
text-align: center;
padding-bottom: 10px;
}
.boxgambar
{
width: 100%;
height: 300px;
overflow: hidden;
}
.gambarlagu
{
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: -50px;
display: block;
}
.judullagu
{
color: #7f2ed1;
text-shadow: 2px 2px #343537;
font-family: 'Indie Flower';
}
#copyright
{
position: sticky;
width: 100%;
line-height: 30px;
margin-bottom: 0px;
background-color: #fff;
text-align: center;
font-size: 10px;
}
/* responsive layout */
@media screen and (max-width: 720px) {
.sidemenu
{
width: 100%;
}
.content
{
width: 100%;
margin-left: auto;
}
.bloklagu
{
width: 95%;
}
}
.tekslagu
{
  font-family: 'Indie Flower';
}

#info
{
  color: #ff00ff
  font-weight: bold;
  margin-top: 40px;
  margin-left: auto;
  width: 600px;
  padding: 10px;
}
